.post-content, post-custom
  box-sizing border-box
  padding-left 10%
  padding-right 10%

@media (max-width: 767px)
  .post-content, post-custom
    padding-left 2rem
    padding-right 2rem

@media (max-width: 424px)
  .post-content, post-custom
    padding-left 1rem
    padding-right 1rem

.post-content
    h1, h2, h3, h4, h5, h6
      anchor-offset()

.page-content, .post-content
  strong
    font-weight bold

  & > *:first-child
    margin-top 0

  img
    object-fit cover
    max-width 100%

.post-metas
  display flex
  flex-direction row
  flex-wrap wrap

.post-meta
  & > i
    margin-right .15rem

  & > a:not(.hover-with-bg)
    margin-right .15rem

.post-prevnext
  margin-top 2rem
  display flex
  flex-wrap wrap
  justify-content space-between
  margin-left -0.5rem
  margin-right -0.5rem

  .post-prev, .post-next
    display flex
    padding-left 0
    padding-right 0

    i
      font-size 1.5rem

    a
      display flex
      align-items center

    .hidden-mobile
      display -webkit-box
      -webkit-box-orient vertical
      -webkit-line-clamp 2
      text-overflow ellipsis
      overflow hidden

    @media (max-width: 575px)
      .hidden-mobile
        display none

  .post-prev:hover i, .post-prev:active i, .post-next:hover i, .post-next:active i
    -webkit-animation-duration 1s
    animation-duration 1s
    -webkit-animation-delay .1s
    animation-delay .1s
    -webkit-animation-timing-function ease-in-out
    animation-timing-function ease-in-out
    -webkit-animation-iteration-count infinite
    animation-iteration-count infinite
    -webkit-animation-fill-mode forwards
    animation-fill-mode forwards
    -webkit-animation-direction alternate
    animation-direction alternate

  .post-prev:hover i, .post-prev:active i
    -webkit-animation-name post-prev-anim
    animation-name post-prev-anim

  .post-next:hover i, .post-next:active i
    -webkit-animation-name post-next-anim
    animation-name post-next-anim

  .post-next
    justify-content flex-end

  .fa-chevron-left
    margin-right .5rem

  .fa-chevron-right
    margin-left .5rem

@keyframes post-prev-anim
  0%
    -webkit-transform translateX(0)
    transform translateX(0)
  50%
    -webkit-transform translateX(-0.35rem)
    transform translateX(-0.35rem)
  100%
    -webkit-transform translateX(0)
    transform translateX(0)

@keyframes post-next-anim
  0%
    -webkit-transform translateX(0)
    transform translateX(0)
  50%
    -webkit-transform translateX(0.35rem)
    transform translateX(0.35rem)
  100%
    -webkit-transform translateX(0)
    transform translateX(0)

#sidebar
  position -webkit-sticky
  position sticky
  top 2rem
  padding 1.5rem 0 0 0
  bottom auto
  right auto
#sidebar .category-item
  font-size 1.1rem
#sidebar .category-collapse
  font-size 0.9rem
#sidebar .list-group-item
  padding .45rem 1.25rem

.sidebar a,
.sidebar span.exturl 
  color #555

.sidebar a:hover,
.sidebar span.exturl:hover 
  border-bottom-color #222
  color #222
.site-overview-wrap 
  overflow-x hidden
  overflow-y auto
  
.sidebar-inner 
  /* background #fff */
  border-radius initial
  /* box-shadow 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12), 0 -1px 0.5px 0 rgba(0,0,0,0.09) */
  box-sizing border-box
  color #555
  opacity 0
  &.affix 
    position fixed
    top $sidebar-offset
  &.affix-bottom 
    position absolute
  

.site-state-item 
  padding 0 10px

.sidebar-button 
  border-bottom 1px dotted #ccc
  border-top 1px dotted #ccc
  margin-top 10px
  text-align center

.sidebar-button a 
  border 0
  color #fc6423
  display block

.sidebar-button a:hover 
  background none
  border 0
  color #e34603

.sidebar-button a:hover .fa 
  color #e34603

.site-author-image 
  border 1px solid #eee
  display block
  height auto
  margin 0 auto
  max-width 120px
  padding 2px
  border-radius 50%
.site-author-name 
  color #222
  font-weight 600
  margin 0
  text-align center
.site-description 
  color #999
  font-size 0.8125em
  margin-top 0
  text-align center

  
// toc

#toc
  position -webkit-sticky
  position sticky
  top 2rem
  padding 3rem 0 0 0
  visibility hidden

.toc-header
  margin-bottom .5rem
  font-weight 500
  line-height 1.2

  &, & > i
    font-size 1.25rem

.toc-body
  max-height 75vh
  overflow-y auto
  overflow -moz-scrollbars-none
  -ms-overflow-style none

  ol
    list-style none
    padding-inline-start 1rem

  &::-webkit-scrollbar
    display none

.tocbot-list
  ol
    list-style none
    padding-left 1rem

  a
    font-size 0.95rem

.tocbot-link
  color var(--text-color)

.tocbot-active-link
  font-weight bold
  color var(--link-hover-color)

.tocbot-is-collapsed
  max-height 0

.tocbot-is-collapsible
  overflow hidden
  transition all .3s ease-in-out

@media (max-width: 1024px)
  .toc-container
    padding-left 0
    padding-right 0

.markdown-body .image-caption
  font-size .8rem
  color var(--post-text-color)
  opacity 0.65
  line-height 1
  margin -0.75rem auto 2rem
  text-align center

.custom, .comments
  margin-top 2rem

.comments
  noscript
    display block
    text-align center
    padding 2rem 0

.visitors
  font-size .8em
  padding .45rem
  float right
